
:root{
    --brand-gradient: #FE572E;
    --accent: #FC3A79;
    --secondary: #FE572E;
    --light-bg: #F3F2F1;
    --black: #261F22;
    --black75: #261f22c5;
    --black50: #261f2280;
    --black25: #261f2249;
    --black10: #261f2225;
    --black5: #261f2210;

    --my-work-gray: #34313C;

    --montserrat: 'Montserrat', sans-serif;
    --roboto: 'Roboto', sans-serif;
}
*, *::before, *::after {
    box-sizing: border-box;
  }

* {
    margin: 0;
    padding: 0;
    font: inherit;
  }
  
  body {
    min-height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    background-color: var(--light-bg);
  }
  
  html {
    -webkit-text-size-adjust: none; /* for iOS Safari */
    text-size-adjust: none; /* for other mobile browsers */
    scroll-behavior: smooth;
  }
  
  img, picture, svg, video {
    display: block;
    max-width: 100%;
  }
  
  menu:not(article menu),
  ol:not(article ol),
  ul:not(article ul) {
      list-style: none;
  }
  
  menu,
  ol,
  ul {
      padding-left: 0;
  }
  
  label,
  button,
  select,
  summary,
  [type=radio],
  [type=submit],
  [type=checkbox] {
      cursor: pointer;
  }

  .top-section{
    height: 100vh;
  }
  /* HEADER */

  .header{
    border-bottom: 1px solid var(--black10);
  }

  .header-container{
    width: min(472px, 80%);
    margin: 0 auto;
  

    display: flex;
    justify-content: space-between;
    align-items: center;

    overflow: hidden;
  }

  .logo{
    padding-block: 2rem;
    z-index: -15;
  }

  .header-hamburger-menu{
    position: absolute;
    right: 2rem;
    top: 2.2rem;
  }

  .fa-bars, .fa-xmark{
    font-size: 1.5rem;
  }

  .fa-xmark{
    position: absolute;
    left: 2rem;
    top: 2rem;
  }

  .header-navigation-menu{
    position: absolute;
    top: 0;
    bottom: 0;
    right: -100%;

    overflow: hidden;

    background-color: var(--light-bg);
    box-shadow: 0 0 10rem 1rem var(--black75);

    z-index: 10;

    transition: all 500ms ease-in-out;
  }

  .open{
    right: 0;
    left: 50%;
  }

  .header-navigation-menu a{
    text-decoration: none;
    font-family: var(--roboto);
    line-height: 2rem;
    color: var(--black75);
  }

  .header-navigation-menu ul{
    margin-top: -3rem;
  }

  .header-navigation-menu li{
    margin-top: 3rem;
  }

  .overlay{
    position: absolute;

    top: 0;
    bottom: 0;
    right: 0;
    left: 100%;

    background-color: var(--black75);

    /* z-index: -10; */

  }

  .active{
    left: 0;
    z-index: 5;
  }

  .header-navigation-menu ul {

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }


 .contacts{
    position: absolute;
    bottom: 4rem;
    left: 50%;
    transform: translateX(-50%);

    text-align: center;
 }

 .contacts p{
  font-family: var(--roboto);
  line-height: 1.5rem;
  color: var(--black75);
  
  word-wrap: break-word;
  font-size: .8rem;
 }

 .contacts p + p{
    margin-top: 0.5rem;
 }

 .social{
    position: absolute;
    bottom: 1.5rem;
    left: 50%;
    transform: translateX(-50%);
    font-size: 1.2rem;
 }

 .social i+i{
  margin-left: 2.5vw;
 }

 /* HERO SECTION */

 .hero{
  width: min(472px, 80%);
  margin: 0 auto;
 }

 .hero h3{
  margin-top: 10vw;

  text-align: center;
  font-family: var(--montserrat);
  color: var(--brand-gradient);
  line-height: 3rem;
  font-size: 2.2rem;
  font-weight: 300;
 }

 .hero h1{
  margin-top: 10vw;

  text-align: center;
  font-family: var(--montserrat);
  font-size: 3.2rem;
  font-weight: 600;
 }

 .hero p{
  font-family: var(--roboto);
  color: var(--black75);
  text-align: center;

  margin-top: 5vw;
 }

 .hero button{
  margin-top: 15vw;

  margin-left: 50%;
  transform: translateX(-50%);

  width: 100%;
  height: 4.5rem;

  border-radius: 4rem;
  border: none;

  background: linear-gradient(to right, #FE572E, #FF4C80);
  color: var(--light-bg);

  font-family: var(--roboto);
  font-weight: 500;

  transition: 250ms;

  z-index: -10;
 }

 .fa-arrow-down{
  font-weight: 600;
  margin-left: 5vw;
  transition: 500ms;
 }

 .hero button:hover .fa-arrow-down{
  padding-top: 2rem;
 }
 .hero button:hover{
  box-shadow: 0px 0px 10px 1px var(--black50);
 }

 /* CLIENTS LIST SECTION */

 .clients-list{
  background-color: var(--black5);
  padding-bottom: 4rem;
 }

 .clients-list__container{
  width: min(472px, 80%);
  margin: 0 auto;
 }

 .clients-list p{
  color: var(--black50);
  font-family: var(--roboto);
  padding-top: 4rem;
  text-align: center;
 }

 .clients-list__icons{
  width: 80%;
  margin: 0 auto;
  margin-top: 2rem;
  
  text-align: center;
  font-size: 2rem;
 }

 .clients-list__icons i + i{
  margin-left: 1rem;
 }

/* MY WORK SECTION */

.my-work__container{
  width: min(472px, 80%);
  margin: 0 auto;
}

.my-work__container h3{
  font-size: 2.2rem;
  font-weight: 600;
  text-align: center;
  font-family: var(--montserrat);

  margin-top: 6rem
}

.my-work__container p{
  margin-top: 2rem;

  font-family: var(--roboto);
  font-size: 1.2rem;
  text-align: center;
  color: var(--black75);
}

.my-work__first-pic {
  margin-top: 5rem;
  position: relative;
  height: 50vw;
  
  background-color: var(--my-work-gray);
}

.my-work__first-pic img{
  position: absolute;

  top: 4rem;
  left: 50%;
  transform: translateX(-50%);

  width: 80%;
}